<div class="jumbotron jumbotron-fluid mb-0">
<div class="container">
<div class="row">
<div class="col">
<p class="lead">Masukan email kamu biar tidak ketinggalan update dari <b>Nata Phet Blog</b>...</p>
<p>
</p><div id="mlb2-6053117" class="ml-subscribe-form ml-subscribe-form-6053117">
<div class="ml-vertical-align-center">
<div class="subscribe-form ml-block-success" style="display:none">
<div class="form-section alert alert-success">
Thank you! You have successfully subscribed to our newsletter.
</div>
</div>
<form class="ml-block-form form-inline my-2 my-lg-0" action="https://app.mailerlite.com/webforms/submit/m6b0m1" data-id="554721" data-code="m6b0m1" method="POST" target="_blank">
<div class="subscribe-form horizontal">
<div class="form-section horizontal">
<div class="form-group ml-field-email ml-validate-required ml-validate-email">
<input type="email" name="fields[email]" class="form-control mr-sm-2" placeholder="email@contoh.com" value="" autocomplete="email" x-autocompletetype="email" spellcheck="false" autocapitalize="off" autocorrect="off">
<button type="submit" class="primary btn btn-info my-2 my-sm-0">Berlangganan</button>
</div>
</div>
<div class="form-section horizontal ml-button-position mt-4">
<span disabled="disabled" style="display: none;" class="loading">
<img src="https://static.mailerlite.com/images/rolling.gif" width="20" height="20" style="width: 20px; height: 20px;" alt="rolling">
</span>
</div>
<div class="clearfix" style="clear: both;"></div>
<input type="hidden" name="ml-submit" value="1">
</div>
</form>
<script>
                                function ml_webform_success_6053117() {
                                    var $ = ml_jQuery || jQuery;

                                    $('.ml-subscribe-form-6053117 .ml-block-success').show();
                                    $('.ml-subscribe-form-6053117 .ml-block-form').hide();
                                };
                            </script>
</div>
</div>
<p>Atau ikuti melalui: </p><script type="text/javascript" src="https://static.mailerlite.com/js/w/webforms.min.js?v3772b61f1ec61c541c401d4eadfdd02f"></script>
<p></p>

<div>
<!--
<a class="mr-2" href="https://www.facebook.com/petanikode">
<img src="https://d33wubrfki0l68.cloudfront.net/fd39898deb98d9f61bd2d228282663bebbf50692/20304/img/icon/entypo/entypo-social/facebook-with-circle.svg" width="32" height="32" alt="Facebook">
</a>
-->
<a class="mr-2" href="https://twitter.com/nataphet">
<img src="https://d33wubrfki0l68.cloudfront.net/117e196e37673784e0abef5b371f36847e6fcfdd/aa65c/img/icon/entypo/entypo-social/twitter-with-circle.svg" width="32" height="32" alt="Twitter">
</a>
<a class="mr-2" href="https://t.me/nataphet">
<img src="https://d33wubrfki0l68.cloudfront.net/326ccb9e094d0e772025328a93f75da2850c46fd/3fa06/img/icon/entypo/entypo-social/telegram-with-circle.svg" width="32" height="32" alt="Telegram">
</a>
<a class="mr-2" href="https://instagram.com/nataphet">
<img src="https://d33wubrfki0l68.cloudfront.net/54b840aaea4637e17be2846c33facca89b5b1786/e84db/img/icon/entypo/entypo-social/instagram-with-circle.svg" width="32" height="32" alt="Instagram">
</a>
<a class="mr-2" href="https://www.youtube.com/nataphet">
<img src="https://d33wubrfki0l68.cloudfront.net/d42d7ca67617a775a3fb041a2f3bb46142c85358/54521/img/icon/entypo/entypo-social/youtube-with-circle.svg" width="32" height="32" alt="Youtube">
 </a>
<a class="mr-2" href="https://plus.google.com/u/0/113489336863233070529">
<img src="/img/google+-with-circle.svg" width="32" height="32" alt="Google+">
</a>
<a class="mr-2" href="https://feeds.feedburner.com/petanikode">
<img src="https://d33wubrfki0l68.cloudfront.net/c1e31ef207f98839cd488299dcee79030d771ecb/c041a/img/icon/entypo/entypo-social/rss-with-circle.svg" width="32" height="32" alt="RSS Feed">
</a>
</div>
</div>
</div>
</div>
</div>