<header>
    <div class="jumbotron jumbotron-fluid bg-phet m-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Welcome to nataphet, my personal blog!</h1>
                    <p class="lead">You just found my website! Great! This is my own personal blog,<br> and all the ideas and opinions you'll find here (good or bad!) are mine and mine alone. </p>
                </div>
            </div>
        </div>
    </div> 
    
</header>
