<div class="widget mb-5">
<div class="widget-content text-center">
<a href="https://goo.gl/forms/CxgVZyTYyQjr3mfJ3" target="_blank"><img src="https://d33wubrfki0l68.cloudfront.net/8cf115bf4cdefc16239050211db59dbc894bde9c/d2f8f/img/advertise/budidaya-php.png" width="300" height="250"></a>
</div>
<div class="widget-content row mt-2 d-flex justify-content-center">
<div class="m-2">
<a href="http://projects.id/petani_kode" target="_blank" title="Jobs untuk Programmer Freelancer!"><img src="https://d33wubrfki0l68.cloudfront.net/3c1a0ab9accf08909d1b0bf4019d12e9fc68a74e/97549/img/advertise/projects.png" width="125" height="125"></a>
</div>
<div class="m-2">
<a href="/advertise/"><img src="https://d33wubrfki0l68.cloudfront.net/32dfc90c733ae79f074290dbf5f3d3889be273fd/349d6/img/advertise/available-125.svg" width="125" height="125"></a>
</div>
<div class="m-2">
<a href="/advertise/"><img src="https://d33wubrfki0l68.cloudfront.net/32dfc90c733ae79f074290dbf5f3d3889be273fd/349d6/img/advertise/available-125.svg" width="125" height="125"></a>
</div>
<div class="m-2">
<a href="/advertise/"><img src="https://d33wubrfki0l68.cloudfront.net/32dfc90c733ae79f074290dbf5f3d3889be273fd/349d6/img/advertise/available-125.svg" width="125" height="125"></a>
</div>
</div>
</div>